groqapikey=paste_here_your_api_key

#local llm set up
URL=http://localhost:12434/engines/llama.cpp/v1/	
MODEL=hf.co/openbmb/MiniCPM5-1B-GGUF:Q4_K_M             #DMR command: docker model pull hf.co/openbmb/MiniCPM5-1B-GGUF:Q4_K_M
API_KEY=docker